@import '../../styles/mixins.scss';

.header-component {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 80px;
  background-color: var(--color-background-sub);

  @include tablet {
    padding: 0 40px;
  }

  @include sp {
    height: 60px;
    padding: 0 20px;
  }

  > .heading {
    @include font-heading-2;

    font-weight: 700;
  }

  > .links {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  > .links > .link {
    @include font-heading-2;

    &:hover {
      text-decoration: underline;
    }

    &:not(:first-of-type) {
      margin-left: 48px;
    }

    &.-red {
      color: var(--color-accent);
    }
  }
}
