:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.17;
  font-size: 10px;

  --color-background-main: #f9f3EF;
  --color-background-sub: #fffffe;
  --color-button-base: #716040;
  --color-text-main: #151c40;
  --color-text-sub: #fffffe;
  --color-text-base: #716040;
  --color-accent: #ef6357;
}

body {
  background-color: var(--color-background-main);
}
